<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shmet.dao.AppVersionMapper">
    <!-- 实体类型映射 -->
    <resultMap type="com.shmet.entity.mysql.gen.AppVersion" id="baseMap">
        <result property="id" column="id"/>
        <result property="version" column="version"/>
        <result property="isUpdate" column="isUpdate"/>
        <result property="androidUrl" column="androidUrl"/>
        <result property="iosUrl" column="iosUrl"/>
        <result property="createtime" column="createtime"/>
    </resultMap>

    <sql id="base_column_sql">
        id,
        version,
        isUpdate,
        androidUrl,
        iosUrl,
        createtime
    </sql>

    <select id="queryLatestApp" resultMap="baseMap">
        SELECT *
        FROM t_app_version
        where v=#{v}
        order by createTime desc limit 1
    </select>

</mapper>